

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.secondary-bg{
    background-color: #73c0ad;

}
.text-primary{
    color: black;
}

.hex-color{
    color: #006A50;
  
}

nav ul {
display: flex;
align-items: center;
}

.btn-primary{

}

.section-title{
color: black;
font-size: 50px;
font-weight: bold;

}

/* Nav styles */

nav{

    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 500;
    font-size: 30px;


} 
nav ul li {

    list-style: none;
}

nav li a { 
    text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    max-width:  300px;
    max-height: 250px;
    margin: 0 150px 0 200px;
}

.banner-title{
    color: #474747;
}

.banner-headline{
    color: black;
    font-weight: bold;
}
.banner-profile-picture{
    width: 250px;
    height: 200px;

}