

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* main styles */
main{
    max-width: 1140px;
    margin:0 auto;
}

main section{

    margin-top: 130px;
    margin-bottom: 130px;
    
}
/* shared style */
.secondary-bg{
    background-color: #73c0ad;
border-radius: 15px;
padding-top: 15px;
padding-bottom: 15px;
}


.text-primary{
    color: black;
}

.hex-color{
    color: #006A50;
  
}

nav ul {
display: flex;
align-items: center;
}

.btn-primary{
    background-color: #006A50;
    padding: 10px;
    border: none;
    color: white;

}

.section-title{
  
color: black;
font-size: 50px;
font-weight: bold;
text-align: left;
margin: 20px 10px;

}



/* Nav styles */

nav{

    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 500;
    font-size: 30px;


} 
nav ul li {

    list-style: none;
}

nav li a { 
    text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;


}


.banner-title{
    color: #474747;
}

.banner-headline{
    color: black;
    font-weight: bold;
}
.banner-profile-picture{
    width: 250px;
    height: 200px;

}
/* work */
.work-container{
    display: flex;
    gap: 24px;
}

.work{

    padding: 30px;
    box-shadow:0px 5px 10px 0px #474747;
}
.newsltr{
    text-align: center;
}
.newsltra{
    text-align: center;
}
.bd2o{

    text-align: center;
    
}
